<div class="container">
	<h1>Emprendimientos</h1>
	<div class="row">
		<div class="col-md-12 col-md-offset-3">
			<%= image_tag("t-bio_logo.png",:size => "500x160",:class => "img-responsive") %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-md-offset-4">
			<%= link_to('<h2 class="centered"><span class="glyphicon glyphicon-cloud"></span><span> Ir a pagina oficial<span/></h2>'.html_safe,"http://t-bio.co/") %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-md-offset-4">
			<%= image_tag("facebook.png",:size => "150x150") %><%= image_tag("twitter.png",:size => "150x150") %>
		</div>
	</div>
</div>
