<h2>Menu</h2>
	<%= form_tag("/admin/actualizar_menu") do %>
		<%= crud_menu(@menu) %> <!-- Este es el helper que construye el crud del menu al pasarle el modelo del menu -->
		<%= submit_tag("Guardar",:class => "btn btn-primary") %>
	<% end %>
	<br/>