<div class="container">
	<h1>Portafolio</h1><br/>
	<h2>Desarrollo de aplicaciones moviles.</h2>
	<div class="row">
		<div class="col-md-6">
			<iframe class="media-object" width="560" height="315" src="//www.youtube.com/embed/ebXbLfLACGM" allowfullscreen>
  				Your browser does not support the <code>video</code> element.
			</iframe>
		</div>
		<div class="col-md-6">
			<h4 class="media-heading"><strong>Simuladores de fisica, ciencias naturales y quimica para empresa de e-learning.</strong></h4><br/>
    		<p class="text-justify ">A continuación muestro el trabajo realizado para una empresa de e-learning. Se desarrollaron 7 simuladores de
    		fisica, quimica y ciencias naturales durante 7 meses para dispositivos moviles con sistemas operativos Android y iOS. Además se realizaron sus respectivas versiones web.</p>
    		<p class="text-justify"><em>* Les muestro un video debido a no me es permitido distribuir alguna version por el tipo de contrato que se manejo.</em></p>
  		</div>
	</div><br/>
	<div class="row">
		<div class="col-md-6">
			<iframe class="media-object" width="560" height="315" src="//www.youtube.com/embed/ebXbLfLACGM" allowfullscreen>
  				Your browser does not support the <code>video</code> element.
			</iframe>
		</div>
		<div class="col-md-6">
			<h4 class="media-heading"><strong>App Elecciones 2014.</strong></h4><br/>
    		<p class="text-justify ">Esta aplicación se desarrollo en tan solo un dia ya que era muy sencilla y se utilizó para obtener rapidamente estadisticas para la segunda vuelta de las elecciones 2014 en Colombia. La aplicacion se desarrollo para Android, el backend de la aplicación se desarrollo en PHP y la base de datos utilizada fue MYSQL.</p>
    		<p class="text-justify"><em>* Les muestro un video debido a no me es permitido distribuir alguna version por el tipo de contrato que se manejo.</em></p>
  		</div>
	</div><br/>
	<div class="row">
		<div class="col-md-6">
			<iframe class="media-object" width="560" height="315" src="//www.youtube.com/embed/ebXbLfLACGM" allowfullscreen>
  				Your browser does not support the <code>video</code> element.
			</iframe>
		</div>
		<div class="col-md-6">
			<h4 class="media-heading"><strong>Reproductor Android Nativo</strong></h4><br/>
    		<p class="text-justify ">Esta fue la primera aplicación que desarrolle para moviles.</p>
    		
  		</div>
	</div>
	<h2>Desarrollo de aplicaciones web.</h2>
	<div class="row">
		<div class="col-md-6">
			<video class="media-object" width="560" height="315" src="/videos/HTML5.mp4" allowfullscreen controls>
  				Your browser does not support the <code>video</code> element.
			</video>
		</div>
		<div class="col-md-6">
			<h4 class="media-heading"><strong>Objeto virtual de matemáticas para empresa de e-learning.</strong></h4><br/>
    		<p class="text-justify ">A continuación muestro el trabajo realizado para una empresa de e-learning. Se desarrolló un canvas con una práctica de matemáticas. El canvas a su vez interactúa con la API scorm de Moodle para llevar el progreso y estadísticas de un estudiante. Este objeto virtual se desarrolló usando HTML5 y funciona perfectamente en un dispositivo móvil.</p>
    		<p class="text-justify"><em>* Les muestro un video debido a no me es permitido distribuir alguna version por el tipo de contrato que se manejo.</em></p>
  		</div>
	</div><br/>
	<div class="row">
		<div class="col-md-6">
			<iframe class="media-object" width="560" height="315" src="//www.youtube.com/embed/ebXbLfLACGM" allowfullscreen>
  				Your browser does not support the <code>video</code> element.
			</iframe>
		</div>
		<div class="col-md-6">
			<h4 class="media-heading"><strong>CMS personal desarrollado en Ruby on Rails</strong></h4><br/>
    		<p class="text-justify ">Este CMS se desarrollo usando Bootstrap 3 para el front-end, y Ruby on Rails 4 para el back-end, la base de datos que se manejo fue postgres. A continuación les muestro un video donde describo cada uno de los modulos y componentes desarrollados.</p>
    	</div>
	</div>
</div>

